body {
    color: black;
    font-family: 'HalyardDis_ISIAU Bk', 'Arial', sans-serif;
    font-size: 28px;
    display: flex;
}
h1 {
}
body {
}
h3 {
}
p
{
}
h4 {
}
a {
    border-bottom: 1px solid black; /*shorthand*/
    text-decoration: none;
}
a:hover {
    color: black;
    font-weight: 700;
}
a:visited {
    color: black;
    text-decoration: underline; 
}
